<div class="app-container">
  <div class="left">
    <app-search (search)="filterPeople($event)"></app-search>
    <app-list [people]="people" (show)="selectPerson($event)" (delete)="deletePerson($event)"></app-list>
  </div>

  <div class="right" *ngIf="selectedPerson">
    <app-card [person]="selectedPerson" [type]="'personal'"></app-card>
    <app-card [person]="selectedPerson" [type]="'geographic'"></app-card>
    <app-card [person]="selectedPerson" [type]="'messages'"></app-card>
  </div>
</div>
