.social-network {
  width: 100px; 
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px; 
  margin-bottom: 10px;
}

.bg-youtube {
  background-color: #FF0000;
}

.bg-facebook {
  background-color: #3b5998;
}

.bg-tiktok {
  background-color: #000000;
}

.bg-instagram {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 50%, #dc2743 100%);
}

.bg-whatsapp {
  background-color: #25D366;
}
