<div class="header">
  <button class="btn youtube" (click)="addNewNotification('youtube', 'added a new video')">Add new video (Youtube)</button>
  <button class="btn tiktok" (click)="addNewNotification('tiktok', 'added a new video')">Add new video (Tiktok)</button>
  <button class="btn instagram" (click)="addNewNotification('instagram', 'added a new story')">Add new story (Instagram)</button>
  <button class="btn facebook" (click)="addNewNotification('facebook', 'added a new story')">Add new story (Facebook)</button>
  <button class="btn whatsapp" (click)="addNewNotification('whatsapp', 'sent a new message')">Add new message (Whatsapp)</button>
</div>

<div class="content">
  <div class="user-section">
    <app-user></app-user>
  </div>
  <div class="notification-section">
    <app-notification></app-notification>
  </div>
</div>
