<div class="cont">
    <div class="cont">
      <div class="cont2">
        <input class="textInp" [(ngModel)]="newCityName" placeholder="Enter new city name" />
        <button class="add" (click)="addCity()">Add City</button>
      </div>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
    
    <input class="textInp" [(ngModel)]="filterText" (input)="filterCities()" placeholder="Filter cities" />
    
    <ul>
      <li *ngFor="let city of filteredCities" (click)="deleteCity(city.name)">
        {{ city.name }}
      </li>
    </ul>
  </div>